<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-5">
                <h1 class="display-4">Happy Birthday's Cards!!</h1>
                <p class="lead">We love happy birthdays!!</p>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let card of customers" class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div id="{{card.name}}" class="my-card card text-white card-has-bg card-{{card.name}}" style="background-image:url('../../../assets/aneta-pawlik-d8s13D29QiE-unsplash.jpg');">
                    <img class="card-img d-none" src="" alt="Happy Birthday!">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">Dear {{card.name}} {{card.lastName}}</small>
                            <h4 class="card-title mt-0"><a class="text-white" href="#">Happy Birthday!</a></h4>
                            <small><i class="far fa-clock"></i> {{card.birthday | date}}</small>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body">
                                    <h6 class="my-0 text-white">The company</h6>
                                    <small>We make happy birthdays :-D</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button (click)="downloadImage(card.name)" class="btn btn-primary m-2">Descargar imagen</button>
            </div>
        </div>
    </div>
</section>