table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mask-custom {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

table.table td a.edit,
a.delete {
    color: #e90e0e
}

table.table td a.edit:hover,
a.delete:hover {
    color: #5a120d;
    cursor: pointer;
}